# Copyright (c) 2020 Micha Hoiting <micha.hoiting@gmail.com>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

#####################################################################################
#
# INSTALLATION
#
# Please visit > https://gitlab.melroy.org/micha/RV-LINK
#
#####################################################################################

# RV-Link JTAG key
# there are two connections, one for GDB and one for UART debugging
KERNEL=="ttyACM[0-9]*", ATTRS{interface}=="RV-Link GDB Server", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1", ENV{ID_MM_PORT_IGNORE}="1", SYMLINK+="ttyrvl-gdb"
KERNEL=="ttyACM[0-9]*", ATTRS{interface}=="RV-Link UART Port", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1", ENV{ID_MM_PORT_IGNORE}="1", SYMLINK+="ttyrvl-vcom"
